.certif-hero{
    background-image: linear-gradient(rgba(1, 25, 48, 0.603), rgba(0, 59, 113, 0.9)), 
                      url('https://images.unsplash.com/photo-1612214495858-4f32b96155a7?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNlcnRpZmljYXRpb258ZW58MHx8MHx8fDA%3D');
    color: white;
    padding: 80px;
    background-size: cover;
    background-position: center;
}

.certif-content .hero-text h1{
    color: white;
}

.certif-content .hero-text p{
    color: white;
}

/* ======================
CERTIFICATIONS
====================== */

.certifications-section {
    padding: 50px 0 80px;
}

.certifications-box {
    background: #ffffff;
    border-radius: 24px;
    padding: 60px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.certification-item {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 40px 0;
    border-bottom: 1px solid #e5e7eb;
}

.certification-item:last-of-type {
    border-bottom: none;
}

.certification-badge img{
    height: 100px;
}

.certification-content {
    flex: 1;
}

.certification-content h3 {
    color: #006198;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.certification-content p {
    color: #4b5563;
    margin-bottom: 15px;
}

.other-certifications {
    margin-top: 40px;
    background: #f7f9fc;
    padding: 35px;
    border-radius: 16px;
}

.other-certifications h3 {
    color: #003B71;
    margin-bottom: 15px;
}

.other-certifications p {
    color: #4b5563;
    margin-bottom: 12px;
}

@media(max-width:768px) {

    .certifications-box {
        padding: 30px;
    }

    .certification-item {
        flex-direction: column;
        text-align: center;
    }

    .certification-badge {
        margin: auto;
    }

    .certification-content h3 {
        font-size: 1.5rem;
    }
}